@use '../abstracts/variables';

// Globala värden
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body
body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: variables.$font-text;
    font-weight: 400;
    background-color: variables.$background-color;
    color: variables.$dark-text-color;
    height: 100%;

    // Darkmode för body
    @media (prefers-color-scheme: dark) {
        background-color: variables.$darkmode-background-color;
        color: variables.$darkmode-text-color;
    }
}

// Sektioner, paragrafer
section {
    p {
        margin: 1.5rem 0;
        max-width: 75ch;
    }
}

ul {
    margin-top: 2rem;
}

li {
    padding: 0.5rem 0;
    list-style-type: none;
}