@use '../abstracts/variables';
@use '../abstracts/mixins';

// Globala värden
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body
body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: variables.$font-text;
    font-weight: 400;
    background-color: variables.$background-color;
    color: variables.$dark-text-color;
    height: 100%;

    // Darkmode för body
    @media (prefers-color-scheme: dark) {
        background-color: variables.$darkmode-background-color;
        color: variables.$darkmode-text-color;
    }
}

// Sektioner, paragrafer
section {
    p {
        margin: 1.5rem 0;
        max-width: 75ch;
    }
}

// Styling för listor
ul {
    margin-top: 2rem;

    li {
        padding: 1rem 0;
        list-style-type: none;
    }
}

label {
    @include mixins.heading-style(2rem, 3rem, 600);
    width: 100%;
    max-width: 33rem;
}

input {
    @include mixins.heading-style(1.6rem, 2.6rem, 400);
    height: 3rem;
    width: 100%;
    max-width: 33rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}