@use '../abstracts/variables';
@use '../abstracts/mixins';

// Typografi
html {
    font-size: 62.5%;
    height: 100%;
}

/* Styling för rubriker, mixin för gemensamma egenskaper */
h1 {
    @include mixins.heading-style(3rem, 4rem, 700);
    text-align: center;
    color: variables.$darkmode-primary-color;
    margin: 4rem 0 2rem 0;
}

h2 {
    @include mixins.heading-style(2.6rem, 2.6rem, 600);
    margin: 4rem 0 2rem 0;
}

h3 {
    @include mixins.heading-style(2.4rem, 3.4rem, 600);
    margin: 2rem 0 2rem 0;
}

h4 {
    @include mixins.heading-style(2rem, 3rem, 600);
    margin: 4rem 0 0 0;
}