@use '../abstracts/mixins';

// Huvudinnehåll
main {
  @include mixins.center-flex();
  position: relative;
  margin: 500px auto 0 auto;
  padding-top: 4rem;
  width: 80%;
  max-width: 1200px;
  min-height: 100vh;

  // Minskar margin vid mindre skärm
  @media screen and (max-width: 700px) {
    margin: 300px auto 0 auto;
    padding-top: 0;
  }

  @media screen and (max-width: 500px) {
    margin: 250px auto 0 auto;
  }
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  // Ändrar till column vid mindre skärm
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.flexbox {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 2rem;

  // Ändrar till column vid mindre skärm
  @media screen and (max-width: 1024px) {
    @include mixins.center-flex();
  }
}