@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/extends';

// Header
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    @include mixins.center-flex();
    z-index: 3;
    background-color: variables.$background-color;

    // Darkmode för header
    @media (prefers-color-scheme: dark) {
        background-color: variables.$darkmode-background-color;
    }
}

// Navigation
#computernav {
    position: absolute;
    top: 50%;
    margin: 4rem 0 0 0;
    padding: 2rem 0 2rem 0;
    border-top: 1px solid variables.$darkmode-primary-color;
    border-bottom: 1px solid variables.$darkmode-primary-color;

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 0 2rem 0 1rem;
        margin: 0 1rem;
        border-right: 1px solid variables.$darkmode-primary-color;

        @media (prefers-color-scheme: dark) {
            border-color: variables.$darkmode-text-color;
        }
    }

    a {
        @extend %link-styles;
    }

    @media screen and (max-width: 700px) {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        border-color: variables.$darkmode-text-color;
    }
}

// Tar bort border på sista länk i navigering
.no-border {
    border-right: none !important;
}

// Mobilmeny
#mobilenav {
    display: none;
    background-color: variables.$background-color;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.70);
    position: absolute;
    right: 0;
    top: 200px;
    height: auto;
    padding: 10rem 2rem 0 2rem;
    width: 100vw;
    z-index: 2;

    ul {
        width: 100%;
        margin-top: 25%;
        padding-bottom: 2rem;
        text-align: center;
        flex-direction: column;

        @media screen and (max-width: 600px) {
            margin-top: 15%;
        }

        @media screen and (max-width: 480px) {
            margin-top: 0;
        }
    }

    li {
        margin: 4rem 0;
        list-style-type: none;
    }

    a {
        @extend %link-styles;
    }

    @media (prefers-color-scheme: dark) {
        background-color: variables.$darkmode-background-color;
    }

    @media screen and (max-width: 480px) {
        padding: 8rem 2rem 0 2rem;
    }
}

// Inkluderar egenskaper för aktiv länk genom extend
.active {
    @extend %active-link;
}

/* Styling för mobilmenyknapp */
.menubtn {
    display: flex;
    position: absolute;
    top: 50%;
    right: 3.5rem;
    border: none;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    z-index: 3;

    /* Styling för menytext */
    #menu-text {
        @include mixins.heading-style(2.4rem, 2.4rem, 600);
        margin-right: 10%;
        color: variables.$darkmode-primary-color;
    }

    /* Hamburgermeny bestående av tre linjer, förändras under 0.4 sekunder */
    #line1,
    #line2,
    #line3 {
        width: 22px;
        height: 3px;
        background-color: variables.$darkmode-primary-color;
        margin: 5px 0;
        transition: 0.4s;
        display: block;

        @media (prefers-color-scheme: dark) {
            background-color: variables.$darkmode-text-color;
        }
    }

    /* Ändrar position och rotrar första linjen -45 grader genom klassen cross (JS) */
    .cross #line1 {
        transform: translate(0, 8px) rotate(-45deg);
    }

    /* Fadear ut mitten-linjen i hamburgermenyn genom klassen cross (JS) */
    .cross #line2 {
        opacity: 0;
    }

    /* Ändrar position och rotrar tredje linjen 45 grader genom klassen cross (JS) */
    .cross #line3 {
        transform: translate(0, -8px) rotate(45deg);
    }

    // Döljer mobilmenyknapp på större skärmar
    @media screen and (min-width: 701px) {
        display: none;
    }
}

/* Klass för opacitet när mobilmeny öppnas (JS) */
.opacity {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}