@use '../abstracts/variables';
@use './animations';

// Responsiva bilder
img {
    width: 100%;
    height: auto;
}

// Döljer overflow
.background-img {
    width: 100%;
    overflow: hidden;
}

// Logotyp med absolut position, centrerar med transform
#logo {
    max-width: 1024px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0 2rem;

    // Inverterar logotyp vid darkmode, vit text istället för svart
    @media (prefers-color-scheme: dark) {
        filter: invert(100%)
    }

    @media screen and (max-width: 700px) {
        top: 55%;
    }

    @media screen and (max-width: 500px) {
        top: 60%;
    }
}

// Header bakgrund med filter för kontrast och saturation
#header-background {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: right;
    filter: contrast(1.5) saturate(1.5);
    opacity: 0.5;
    overflow: hidden;
    animation: scale-up 10s infinite alternate linear;

    // Dark mode, filter för att minska ljus
    @media (prefers-color-scheme: dark) {
        filter: brightness(0.3);
        opacity: 1;
    }

    @media screen and (max-width: 700px) {
        height: 300px
    }

    @media screen and (max-width: 500px) {
        height: 250px
    }
}

#portrait {
    padding-right: 4rem;
    max-width: 600px;

    // Kontroll om is-round är sant, ändrar border radius till 50 % (rund bild)
    @if variables.$is-round {
        border-radius: 50%;
    }

    // Vid falskt förblir bilden ordinarie form
    else {
        border-radius: 0;
    }

    @media screen and (max-width: 1024px) {
        padding-right: 0;
    }
}

.winter-pictures {
    margin-bottom: 2rem;
    max-width: 800px;
}

// Sätter maxbredd på bild
#Lilo {
    max-width: 100%;
    border-radius: 50%;
    border: 0.5rem solid variables.$link-color;
}