@use 'variables';

%link-styles {
    text-decoration: none;
    color: variables.$link-color;
    font-size: 2.2rem;
    font-family: variables.$font-heading;
    letter-spacing: 0.2rem;

    &:hover {
        color: variables.$hover-color;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: black;

        @media (prefers-color-scheme: dark) {
            color: variables.$darkmode-hover-color;
            text-decoration-color: white;
        }
    }
}

%active-link {
    color: variables.$hover-color !important;
    text-decoration: underline !important;
    text-underline-offset: 0.5rem;
    text-decoration-color: black !important;

    @media (prefers-color-scheme: dark) {
        color: variables.$darkmode-hover-color !important;
        text-decoration-color: white !important;
    }
}