@use 'variables';

// Mixin för flesx och centering av layout
@mixin center-flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Mixin för gemensamma egenskaper för rubriker
@mixin heading-style($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  font-family: variables.$font-heading;
  color: variables.$sub-head-color;
  font-weight: $font-weight;
  letter-spacing: 0.2rem;
  line-height: $line-height;

  // Darkmode på rubriker
  @media (prefers-color-scheme: dark) {
    color: variables.$darkmode-text-color;
  }
}