// Variabler
$font-text: 'Roboto', Helvetica, Arial, sans-serif;
$font-heading: "Montserrat", 'Roboto', Helvetica, sans-serif;

// Ljust tema
$background-color: #ffeafc;
$primary-color: rgb(32, 32, 32);
$secondary-color: pink;
$link-color: hotpink;
$sub-head-color: #535353;
$hover-color: darken($link-color, 10%);
$dark-text-color: #333;
$light-text-color: white;

// Mörkt tema
$darkmode-background-color: #333;
$darkmode-primary-color: #000000;
$darkmode-hover-color: lighten($link-color, 10%);
$darkmode-text-color: white;