// Variabler
$font-text: 'Roboto', Helvetica, Arial, sans-serif;
$font-heading: "Montserrat", 'Roboto', Helvetica, sans-serif;
$background-color: #ffeafc;
$primary-color: rgb(32, 32, 32);
$secondary-color: pink;
$link-color: hotpink;
$hover-color: darken($link-color, 10%);
$dark-text-color: #333;
$light-text-color: white;